<div class="container">
  <h1>JSON DATA WITH ANGULAR JSON DATA TABLES</h1>

  <table datatable class="row-border hover" border="1">

      <thead>
        <tr>
          <th>ID</th>
          <th>NAME</th>
          <th>EMAIL</th>
          <th>COMPANY</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let empdata of employees">
          <td>{{empdata.id}}</td>
          <td>{{empdata.name}}</td>
          <td>{{empdata.email}}</td>
          <td>{{empdata.cmp}}</td>
        </tr>
      </tbody>

  </table>

</div>